

<div class="tete">
  <h2><%= @flat.name %></h2>
  <h3><%= @flat.address %></h3>
</div>

<div class="description">
  <h4>A bit more about this flat...</h4>
  <p><%= @flat.description %></p>
</div>

<div class="detail">
  <h4>Details</h4>
  <p><%= @flat.number_of_guests %></p>
  <p><%= @flat.price_per_night %></p>
</div>

<div class="book">
<h4>Book this place!</h4>
</div>

<div class="share">
  <h5>Share</h5>
</div>